*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #20262e;
  color: #fbfbfb;
  font-family: Jura;
}

header {
  height: 40px;
}

.sections {
  border-top: 1px solid #2d333b;
  display: flex;
  height: calc(100vh - 40px);
}

.sections > div {
  width: 50%;
}

.input-section {
  border-right: 1px solid #2d333b;
}

.input-section label span {
  margin: 0 10px;
  position: absolute;
  z-index: 1;
}

textarea[name=input] {
  background-color: #20262e;
  border: none;
  color: #ed6e55;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  height: 100%;
  padding: 10px;
  resize: none;
  width: 100%;
}

textarea[name=input]:focus {
  outline: none;
}

.output-result {
  padding: 10px;
  white-space: pre;
}
